@font-face{
    font-family: Proxima-Nova-Bold;
    src: url("Proxima Nova Bold.otf");
  }
  
.navbar {
    
    display: flex; 
    min-height: 3vh;
    background: #242220;
    z-index: 4;
    width:100vw;
    padding: .15em .3em .15em 3em;

    margin: 0;
}


.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    list-style: none;

    
}

.navbar a{
    color: #f5f3f0 !important;
    font-family: Proxima-Nova-Bold;
    font-size: 1.45em;
    transition: 0.2s;
}

.navbar a:hover{
    transform: scale(1.1);
    font-family: Proxima-Nova-Bold;
    text-decoration: none;
    transition: 0.33s;

}

.navbar a:visited{
    color: #f5f3f0 !important;
    font-family: Proxima-Nova-Bold;
}